<nz-card 
  [nzCover]="coverTemplate" 
  [nzActions]=actions
  nzHoverable
  >
  <!-- <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta> -->
  <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]=project.description></nz-card-meta>
</nz-card>

<ng-template #titleTemplate>
  <span>{{project.p_name}}</span>
</ng-template>

<ng-template #coverTemplate>
  <div></div>
</ng-template>

<ng-template #actionJoin>
  <a nz-icon nzType="plus" (click)="onJoin()"></a>
</ng-template>

<!-- 进入详情页 -->
<ng-template #actionInfo>
  <a 
    nz-icon 
    nzType="unordered-list" 
    [routerLink]="['/project', project.p_id, 'tasks']" 
  ></a>
</ng-template>

<ng-template #actionEdit>
  <a nz-icon nzType="edit"></a>
</ng-template>

<ng-template #actionDiscussion>
  <a nz-icon nzType="comment"></a>
</ng-template>

<ng-template #actionDelete>
  <a nz-icon nzType="delete"></a>
</ng-template>

<ng-template #actionFileMgmt>
  <a nz-icon nzType="download"></a>
</ng-template>