
  <app-add-user></app-add-user>

<nz-table #adminTable [nzData]="listOfDisplayData" [nzPageSize]="20" [nzScroll]="{ y: '240px' }">
  <thead>
    <tr>
      <th *ngFor="let column of listofColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections">
        {{column.name}}
        <div *ngIf="column.name=='姓名'">
          <nz-filter-trigger [(nzVisible)]="searchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </div>


      </th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let data of adminTable.data" (click)=" startEdit(data.u_id)">
    <!-- <span [hidden]="editId === data.u_id" (click)= "startEdit(data.u_id)">  -->
    <ng-container *ngIf="editId !== data.u_id" >
     
        <td>
          <a [routerLink]="['/home',data.u_id]">
            {{ data.u_id }}
          </a>
        </td>
        <td>{{ data.u_name }}</td>
        <td>{{ data.type }}</td>

        <td>{{ data.gender }}</td>
        <td> {{data.description}}</td>
        <td>******</td>
        <!-- <td>
          <button nz-button nzSize="primary" (click)="changePassword(data.u_id)">
            修改密码
          </button>
        </td> -->

     
    </ng-container>

    <!-- </span> -->
    <ng-container *ngIf="editId === data.u_id">
      
      <td>
        <a [routerLink]="['/home',data.u_id]">
          {{ data.u_id }}
        </a>
      </td>
        <td>
          <input nz-input [(ngModel)]="data.u_name">
        </td>
        <td>
          <input nz-input [(ngModel)]="data.type">
        </td>
        <td>
          <nz-radio-group [(ngModel)]="data.gender">
            <label nz-radio nzValue="男">男</label>
            <label nz-radio nzValue="女">女</label>
            <label nz-radio nzValue="不愿透露">不愿透露</label>
          </nz-radio-group>
        </td>
        <td>
          <input nz-input [(ngModel)]="data.description">
        </td>
        <td>
          <input nz-input [(ngModel)]="data.password">
        </td>
        <td>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click) ="stopEdit()">
            提交
          </button>
          </td>
        <td>
          <button nz-button  nzType="default" (click) ="deleteUser()">
            <i nz-icon nzType="close" nzTheme="outline"></i>
          </button>
          </td>

      
    </ng-container>
  </tr>

  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="查找姓名" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        查找
      </button>
      <button nz-button nzSize="small" (click)="reset()">重置</button>
    </div>
  </div>
</nz-dropdown-menu>