  <!-- <nz-divider nzOrientation="left" nzText="我学的课"></nz-divider>
  <div style="background: #ECECEC;padding:30px;">
      <div *ngFor=" let course of courseDatas; let i = index"> -->

      <!-- <div  [ngStyle]="gridStyle">
        <nz-card nzTitle="{{course.name}}" [nzExtra]="extraTemplate">
        <p>{{course.description}}</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a url="{{course.url}}">进入课程</a>
        
      </ng-template>
      </div> --> 
      <!-- <div *ngIf="i<courseDatas.length/3"> -->

      <!-- <nz-row [nzGutter]="[24,24]" >
         <div *ngFor="let course of courseDatas.slice(i*3,(i+1)*3);let j =index">
          <nz-col [nzSpan]="8" *ngFor="let course of courseDatas;let i =index">
            <nz-card nzTitle="{{course.name}}" [nzExtra]="extraTemplate" [nzBordered]="false">
              <p>{{course.description}}</p>
            </nz-card>
            <ng-template #extraTemplate>
              <a>进入课程 +{{i}}</a>
              
            </ng-template>
          </nz-col>
      </nz-row>
          
      
    </div>  --> -->
 
   
  