<nz-descriptions nzTitle="Course Info" nzBordered>
  <nz-descriptions-item nzTitle="Course Name">{{course.c_name}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Course Point">{{course.point}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Course Status">
    <nz-badge nzStatus="{{type}}" nzText="{{status}}">
  </nz-badge></nz-descriptions-item>
  <nz-descriptions-item nzTitle="Teacher Name">
    <span [routerLink]="['/home',course.teacher.u_id]" (click)="destroyModal()">
      <nz-avatar [nzShape]="'square'" nzSrc="{{course.teacher.image}}"></nz-avatar> {{course.teacher.u_name}}
    </span>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Teacher Description" [nzSpan]="2">
    {{course.teacher.description}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Course Description" [nzSpan]="2">
    {{course.description}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Course Image">
    <nz-avatar [nzShape]="'square'" [nzSize]="100"
               nzSrc="{{course.image_URL}}"></nz-avatar>
  </nz-descriptions-item>
</nz-descriptions>
