<nz-card>
    <nz-card-tab>
      <nz-tabset nzSize="large" [nzTabBarExtraContent]="extraTemplate">
        <nz-tab [nzTitle]="coursesTabTitle"></nz-tab>
      </nz-tabset>
    </nz-card-tab>

    <nz-table #courseTable [nzData]="courses">
        <thead>
        <tr>
          <th>序号</th>
          <th>课程名称</th>
          <th>教师</th>
          <th>学分</th>
          <th>描述</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
  
        <tbody>
        <tr *ngFor="let data of courseTable.data let i = index">
          <ng-container *ngIf="editId !== i||data.status==0" >
              <td>{{ i+1 }}</td>
              <td><a [routerLink]="['/admin_project',data.c_id]">
                {{data.c_name}}</a>
              </td>
              <td>{{ data.teacher.u_name }}</td>
              <td>{{ data.point }}</td>
              <td>{{ data.description }}</td>
              <td *ngIf="data.status==0">
                  已删除
              </td>
              <td *ngIf="data.status==1">
                  未发布
              </td>
              <td *ngIf="data.status==2">
                  已发布
              </td>
      
              <td>
                <button nz-button nzType="default" *ngIf="data.status==0" disabled="true"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
                <button nz-button nzType="default" *ngIf="data.status!=0" (click)="edit(i)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
              </td>
          </ng-container>
          
          <ng-container *ngIf="editId === i&&data.status!=0" >
              <td>{{ i+1 }}</td>
              <td>
                <input nz-input [(ngModel)]="data.c_name">
              </td>
              <td>
                <nz-select 
                  [(ngModel)]="data.teacher" 
                  (ngModelChange)="onChange($event)" 
                  nzAllowClear nzPlaceHolder="Choose"
                  >
                  <nz-option *ngFor="let teacher of allTeachers" [nzValue]="teacher" [nzLabel]="teacher.u_name"></nz-option>
                </nz-select>
              </td>
              <td>
                <input nz-input [(ngModel)]="data.point">
              </td>
              <td>
                <input nz-input [(ngModel)]="data.description">
              </td>
              <td>
                修改
              </td>
      
              <td>
                  <button nz-button nzType="default" *ngIf="data.status!=-1" (click)="upload(data)"><i nz-icon nzType="edit" nzTheme="outline"></i>提交</button>
              </td>
          </ng-container>
  
          <!-- <td *ngIf="ifOpenRating">
              <span><nz-input-number [nzDisabled]="ifEdit[i] || !ifUpdate[i]" [(ngModel)]="data.rating" [nzMin]="0" [nzMax]="100" [nzStep]="0.1" [nzPlaceHolder]="'待填写' "></nz-input-number></span>
          </td>
          <td *ngIf="ifOpenRating">
            <button nz-button nzType="default" *ngIf="ifEdit[i]" (click)="edit(i)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
            <button nz-button nzType="primary" *ngIf="!ifEdit[i] || !ifUpdate[i]" [disabled]="!ifUpdate[i]" (click)="update(i)"><i nz-icon nzType="upload" nzTheme="outline"></i>更新</button>
          </td> -->
        </tr>
      
        </tbody>
      </nz-table>

    <app-pagination
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [total]="total"
      (pageIndexChange)="onPageIndexChange($event)"
      >
    </app-pagination>
  </nz-card>

  
  
  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="showModal()">
      <span>新建课程</span>
    </button>
  </ng-template>
  