<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-tabset [nzAnimated]="false" class="tabs">
    <nz-tab [nzTitle]="'注册成为新用户'">
      <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="idErrorTip">
          <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
            <input nz-input formControlName="u_id" placeholder="请输入用户ID" />
          </nz-input-group>
          <ng-template #idErrorTip let-i>
            <ng-container *ngIf="i.errors?.required">请输入用户ID</ng-container>
            <ng-container *ngIf="i.errors?.pattern"> 用户ID应为纯数字 </ng-container>
            <ng-container *ngIf="i.errors?.minlength"> 用户ID应在3至10位之间 </ng-container>
            <ng-container *ngIf="i.errors?.maxlength"> 用户ID应在3至10位之间 </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'请输入用户密码'">
          <nz-input-group nzSize="large" nzAddonBeforeIcon="lock" nz-popover nzPopoverPlacement="right"
            nzPopoverTrigger="focus" [(nzVisible)]="visible" nzOverlayClassName="register-password-cdk"
            [nzOverlayStyle]="{ 'width.px': 240 }" [nzPopoverContent]="pwdCdkTpl">
            <input nz-input type="password" formControlName="password" placeholder="请输入用户密码" />
          </nz-input-group>
          <ng-template #pwdCdkTpl>
            <div style="padding: 4px 0;">
              <ng-container [ngSwitch]="status">
                <div *ngSwitchCase="'ok'" class="success">强</div>
                <div *ngSwitchCase="'pass'" class="warning">中</div>
                <div *ngSwitchDefault class="error">弱</div>
              </ng-container>
              <div class="progress-{{ status }}">
                <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6"
                  [nzShowInfo]="false"></nz-progress>
              </div>
              <p class="mt-sm">密码强度：</p>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <nz-input-group nzSize="large" nzAddonBeforeIcon="lock">
            <input nz-input type="password" formControlName="confirm" placeholder="再次确认密码" />
          </nz-input-group>
          <ng-template #confirmErrorTip let-i>
            <ng-container *ngIf="i.errors?.required">请输入确认密码</ng-container>
            <ng-container *ngIf="i.errors?.equar">确认密码与密码不符</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="false" class="submit">
      立即注册
    </button>
    <a class="login" routerLink="/passport/login">已有账户？立刻登录</a>
  </nz-form-item>
</form>