<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nacos.dao.GradeSystemMapper">
  <resultMap id="BaseResultMap" type="com.nacos.entity.GradeSystem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="max_grade" jdbcType="DOUBLE" property="maxGrade" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <select id="getMaxItemId" resultType="int">
    select max(item_id) from grade_system where p_id = #{p_id}
  </select>
</mapper>