<nz-affix [nzOffsetTop]="offsetTop" (click)="setOffsetBottom()" class="all_update">
  <button *ngIf="ifOpenRating" nz-button nzType="{{all_submit_button_style}}" [disabled]="!all_submit_button_disable">
    <i nz-icon nzType="upload" nzTheme="outline"></i>全部提交
  </button>
</nz-affix>

<nz-table #basicTable [nzData]="groupers">
  <thead>
  <tr>
    <th>序号</th>
    <th>头像</th>
    <th>姓名</th>
    <th>学号</th>
    <th>简介</th>
    <th *ngIf="ifOpenRating">评分</th>
    <th *ngIf="ifOpenRating">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data let i = index">
    <td>{{ i+1 }}</td>
    <td><a [routerLink]="['/home',data.u_id]">
      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="data.image"></nz-avatar></a>
    </td>
    <td  *ngIf="leaderId == data.u_id" nz-button nzTooltipTitle="Group leader!" nzTooltipPlacement="topLeft" nz-tooltip>{{ data.u_name }} <i nz-icon nzType="user" nzTheme="outline"></i></td>
    <td  *ngIf="leaderId != data.u_id">{{ data.u_name }}</td>
    <td>{{ data.u_id }}</td>
    <td>{{ data.description }}</td>
    <td *ngIf="ifOpenRating">
        <span><nz-input-number [nzDisabled]="ifEdit[i] || !ifUpdate[i]" [(ngModel)]="data.rating" [nzMin]="0" [nzMax]="100" [nzStep]="0.1" [nzPlaceHolder]="'待填写' "></nz-input-number></span>
    </td>
    <td *ngIf="ifOpenRating">
      <button nz-button nzType="default" *ngIf="ifEdit[i]" (click)="edit(i)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
      <button nz-button nzType="primary" *ngIf="!ifEdit[i] || !ifUpdate[i]" [disabled]="!ifUpdate[i]" (click)="update(i)"><i nz-icon nzType="upload" nzTheme="outline"></i>更新</button>
    </td>
  </tr>

  </tbody>
  <!--<nz-switch [ngModel]="true" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>-->
  <!--<ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>-->
  <!--<ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>-->
</nz-table>


