    
    <!-- <div *ngIf="true;else default">
      <nz-avatar nzIcon="user" [nzSize]="172" nzSrc=""></nz-avatar>
    </div> -->
    <div style="text-align: center;" #default>
      <div>
        <nz-avatar nzIcon="user" [nzSize]="172"></nz-avatar>
      </div>
      <br>
      <br>
      <br>
      <!-- nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" -->
     <div *ngIf="modify.canEdit">
      <nz-upload
      class="avatar-uploader"
      nzAction="G:\大三\大三下\高级web\lab\pj\pbl-learning-platform-master\pbl-learning-platform\supernova\upload"
      nzName="avatar"
      [nzShowUploadList]="false"
      [nzBeforeUpload]="beforeUpload"
      (nzChange)="handleChange($event)"
    >
    <button nz-button><i nz-icon nzType="upload"></i>上传你的头像</button>
    </nz-upload>

    </div>
    
   
  </div>
  {{modify.canEdit}}
  