<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nacos.dao.EvaluationMapper">
  <resultMap id="BaseResultMap" type="com.nacos.entity.Evaluation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <id column="active_s_id" jdbcType="CHAR" property="activeSId" />
    <id column="passive_s_id" jdbcType="CHAR" property="passiveSId" />
    <result column="grade" jdbcType="DOUBLE" property="grade" />
  </resultMap>

  <select id="searchEvaluateByOther" resultType="Double">
    select avg(grade) from evaluation
    where p_id = #{p_id} and passive_s_id = #{s_id} and active_s_id != #{s_id}
  </select>

  <select id="getMyEvaluate" resultType="Double">
    select grade from evaluation
    where p_id = #{p_id} and passive_s_id = #{u_id} and active_s_id = #{s_id}
  </select>

  <select id="searchNotEvaluateNum" resultType="Integer">
    select count(*) from (select a1.u_id as id1,a2.u_id as id2 from (select u_id from student_project where p_id = #{p_id})as a1,(select u_id from student_project where p_id = #{p_id}) as a2) as t where (t.id1,t.id2) not in (select active_s_id,passive_s_id from evaluation where p_id=#{p_id});
  </select>

  <select id="searchNotSelfEvaluateNum" resultType="Integer">
    select count(*) from (select a1.u_id as id1,a1.u_id as id2 from (select u_id from student_project where p_id = #{p_id})as a1) as t where (t.id1,t.id2) not in (select active_s_id,passive_s_id from evaluation where p_id=#{p_id});
  </select>

  <select id="searchTeacherNotEvaluateNum" resultType="Integer">
    select count(*) from (select u_id from student_project where p_id=#{p_id}) as a where a.u_id not in (select u_id from  student_grade where p_id = #{p_id})
  </select>
</mapper>