<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nacos.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.nacos.entity.Project">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="c_id" jdbcType="INTEGER" property="cId" />
    <result column="p_name" jdbcType="CHAR" property="pName" />
    <result column="grading_status" jdbcType="BIT" property="gradingStatus" />
    <result column="teacher_grade_ratio" jdbcType="DOUBLE" property="teacherGradeRatio" />
    <result column="self_grade_ratio" jdbcType="DOUBLE" property="selfGradeRatio" />
    <result column="mutual_grade_ratio" jdbcType="DOUBLE" property="mutualGradeRatio" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <select id="countDone" resultType="int">
    select count(distinct u_id) from student_assignment where p_id = #{p_id} and u_id not in (
      select u_id from student_assignment where p_id = #{p_id} and status = false
      )
  </select>
  <select id="searchGroupers" resultType="com.nacos.entity.User">
    select * from user
    where u_id in (
      select u_id from student_project
      where p_id = #{p_id}
      )
  </select>

  <insert id="addProject">
    <selectKey keyProperty="p_id" resultType="java.lang.Integer" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into project(c_id, p_name, description, grading_status, teacher_grade_ratio, self_grade_ratio, mutual_grade_ratio)
    VALUE (#{c_id}, #{p_name}, #{description}, #{grading_status}, #{teacher_grade_ratio}, #{self_grade_ratio}, #{mutual_grade_ratio})
  </insert>
</mapper>