<div>
    <ng-container *ngFor="let color of colorMapping | keyvalue">
        <nz-badge [nzColor]="color.value" [nzText]="color.key.toString()"></nz-badge>
    </ng-container>
    <ng-container *ngIf="currentUser.type === 'student'">
        <button nz-button nzType="primary" (click)="showCompleteModal()" [nzLoading]="completeLoading">完成任务</button>
    </ng-container>
    <ng-container *ngIf="modifiable">
        <button nz-button nzType="primary" (click)="showUrgeModal()" [nzLoading]="urgeLoading">催促任务</button>
        <button nz-button nzType="primary" (click)="showAddModal()" [nzLoading]="addLoading">新增任务</button>
        <button nz-button nzType="primary" (click)="showDeleteModal()">删除任务</button>
        <button nz-button nzType="primary" (click)="saveChanges()" [disabled]="!modified"
            [nzLoading]="loading">保存删改</button>
        <button nz-button nzType="primary" (click)="discardChanges()" [disabled]="!modified || loading">放弃删改</button>
    </ng-container>
</div>

<ng-container *ngIf="!isEmpty">
    <div>
        <nz-slider [nzMin]="0" [nzMax]="100" [(ngModel)]="percent" (ngModelChange)="onPercent($event)"
            [nzTipFormatter]="percentFormatter"></nz-slider>
        <nz-slider [nzMin]="12" [nzMax]="23" [(ngModel)]="zoom" [nzStep]="0.1" (ngModelChange)="onZoom($event)"
            [nzTipFormatter]="zoomFormatter"></nz-slider>
    </div>
</ng-container>

<gstc [config]="config" (onState)="onState($event)" [hidden]="isEmpty"></gstc>

<ng-container *ngIf="isEmpty">
    <nz-empty></nz-empty>
</ng-container>