<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SuperNova.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.SuperNova.model.Course">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="c_id" jdbcType="INTEGER" property="cId" />
    <result column="t_id" jdbcType="CHAR" property="tId" />
    <result column="c_name" jdbcType="CHAR" property="cName" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="image_URL" jdbcType="CHAR" property="imageUrl" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>