<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SuperNova.dao.DiscussionMapper">
  <resultMap id="BaseResultMap" type="com.SuperNova.model.Discussion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="u_id" jdbcType="CHAR" property="uId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <select id="countDiscussion" parameterType="int" resultType="DiscussInformation">
    select tmp.u_id,tmp.u_name,count(tmp.u_id)
    from (
           select u_id,u_name
           from discussion natural join user
           where p_id = #{p_id}
           union all
           select u_id,u_name
           from reply natural join user natural join (select d_id,p_id from discussion) as dis2pj
           where p_id = #{p_id}
      )as tmp
    group by tmp.u_id
  </select>
    <insert id="addDiscussion">
        <selectKey keyProperty="d_id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into discussion(p_id, u_id, content)
        VALUE (#{p_id}, #{u_id}, #{content})
    </insert>

</mapper>