<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SuperNova.dao.FileMapper">
  <resultMap id="BaseResultMap" type="com.SuperNova.model.File">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="f_id" jdbcType="INTEGER" property="fId" />
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="u_id" jdbcType="CHAR" property="uId" />
    <result column="f_name" jdbcType="CHAR" property="fName" />
    <result column="file_URL" jdbcType="CHAR" property="fileUrl" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <select id="searchMaxId" resultType="int">
    select max(f_id) from file where p_id = #{p_id}
  </select>
  <insert id="createFile">
    <selectKey keyProperty="f_id" resultType="java.lang.Integer" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into file(p_id, u_id, f_name, description, file_URL)
    VALUE (#{p_id}, #{u_id}, #{f_name}, #{description}, #{file_URL})
  </insert>
</mapper>