<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SuperNova.dao.StudentGradeMapper">
  <resultMap id="BaseResultMap" type="com.SuperNova.model.StudentGrade">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <id column="u_id" jdbcType="CHAR" property="uId" />
    <result column="grade" jdbcType="DOUBLE" property="grade" />
  </resultMap>
</mapper>