<nz-card [nzLoading]="loading">
    <nz-card-tab>
        <nz-tabset nzLinkRouter [nzLinkExact]="false" nzSize="large" [nzTabBarExtraContent]="extraTemplate">
            <!-- <nz-tab nzForceRender *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
                <ng-template #titleTemplate>
                    <a nz-tab-link [routerLink]="tab.routerLink"
                        [queryParams]="tab.queryParams">
                        <i nz-icon [nzType]="tab.iconType"></i>{{tab.tabName}}
                    </a>
                </ng-template>
            </nz-tab> -->
            <nz-tab>
                <a nz-tab-link [routerLink]="['tasks']"
                    [queryParams]="{ p_id: p_id, p_name: p_name, leaderId: leaderId, groupers: stringifyGroupers() }">
                    <i nz-icon nzType="unordered-list"></i>任务列表
                </a>
            </nz-tab>
            <nz-tab>
                <a nz-tab-link [routerLink]="['members']"
                    [queryParams]="{ p_id: p_id, p_name: p_name, leaderId: leaderId, groupers: stringifyGroupers() }">
                    <i nz-icon nzType="user"></i>成员列表
                </a>
            </nz-tab>
            <nz-tab>
                <a nz-tab-link [routerLink]="['discussions']"
                    [queryParams]="{ p_id: p_id, p_name: p_name, groupers: stringifyGroupers() }">
                    <i nz-icon nzType="comment"></i>讨论空间
                </a>
            </nz-tab>
            <nz-tab>
                <a nz-tab-link [routerLink]="['files']"
                    [queryParams]="{ p_id: p_id, p_name: p_name, groupers: stringifyGroupers() }">
                    <i nz-icon nzType="download"></i>文件管理
                </a>
            </nz-tab>
            <nz-tab>
                <a [hidden]="!showCompletion" nz-tab-link [routerLink]="['task_completion']"
                    [queryParams]="{ p_id: p_id, p_name: p_name, groupers: stringifyGroupers() }"
                    >
                    <i nz-icon nzType="check-square"></i>任务管理
                </a>
            </nz-tab>
        </nz-tabset>
    </nz-card-tab>
    <router-outlet></router-outlet>
</nz-card>

<ng-template #extraTemplate>
    <h3><strong>{{ p_name }}</strong></h3>
</ng-template>