<nz-card>
  <nz-card-tab>
    <nz-tabset nzSize="large" (nzSelectChange)="changeTab($event.tab.nzTitle)">
      <nz-tab [nzTitle]="myCourseTabTitle"></nz-tab>
      <nz-tab [nzTitle]="otherCourseTabTitle"></nz-tab>
    </nz-tabset>
  </nz-card-tab>
  <nz-row [nzGutter]="[24, 24]">
    <nz-col [nzSpan]="24 / numOfCardsARow" *ngFor="let course of courses">
      <app-course-card [course]=course [type]=type></app-course-card>
    </nz-col>
  </nz-row>
  <app-pagination
    [pageIndex]="pageIndex" 
    [pageSize]="pageSize" 
    [total]="total" 
    (pageIndexChange)="onPageIndexChange($event)"
    >
  </app-pagination>
</nz-card>

