<div *ngIf="discussions !=null && discussions.length != 0;else elseBlock">
<ng-template #commentTemplateRef let-comment="comment">

  <nz-comment *ngIf="comment.show" [nzAuthor]="comment.u_name" [nzDatetime]="comment.time_for_show">
    <a [routerLink]="['/home',comment.u_id]">
      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.image"></nz-avatar>
    </a>
    <nz-comment-content>
      <p>{{ comment.content }}</p>
    </nz-comment-content>
    <nz-comment-action>
      <i nz-tooltip nzTitle="Like" nz-icon nzType="like"></i>
    </nz-comment-action>
    <nz-comment-action>
      <i nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike"></i>
    </nz-comment-action>
    <nz-comment-action><span (click)="showModal(comment.u_name, comment.d_id,comment.d_index)">回复</span></nz-comment-action>
    <nz-comment-action *ngIf="comment.u_id == user.u_id">
      <span
      nz-popconfirm
      nzPopconfirmTitle="你确定要删除这条信息嘛?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="confirm(comment.d_index, comment, comment.type)"
    >删除</span>
    </nz-comment-action>
    <ng-container *ngIf="comment.hasOwnProperty('replies') && comment.replies != null">
      <ng-template ngFor let-reply [ngForOf]="comment.replies">
        <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: reply }"> </ng-template>
      </ng-template>
    </ng-container>
  </nz-comment>


</ng-template>

<nz-list [nzDataSource]="discussions" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-item>
    <ng-template [ngIf]="item.show" [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: item }"> </ng-template>
    <nz-divider *ngIf="item.show"></nz-divider>
  </ng-template>


</nz-list>

<nz-comment>
  <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.image"></nz-avatar>
  <nz-comment-content>
    <nz-form-item>
      <textarea [(ngModel)]="newDiscussion" nz-input rows="4"></textarea>
    </nz-form-item>
    <nz-form-item>
      <button nz-button nzType="primary" [nzLoading]="discussion_submitting" [disabled]="!newDiscussion" (click)="handleSubmit()">
        添加话题
      </button>
    </nz-form-item>
  </nz-comment-content>
</nz-comment>
</div>
<ng-template #elseBlock><br><br><br><br><nz-empty></nz-empty></ng-template>

<!--<button nz-button nzType="primary" (click)="showModal()">-->
  <!--<span>Show Modal</span>-->
<!--</button>-->



<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>
    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.image"></nz-avatar>  回复 <{{reply_to_u_name}}>
  </ng-template>
  <ng-template #modalContent>
    <!--<nz-comment>-->
      <!--<nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>-->
      <nz-comment-content>
        <nz-form-item>
          <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
        </nz-form-item>
        <!--<nz-form-item>-->
          <!--<button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">-->
            <!--Add Comment-->
          <!--</button>-->
        <!--</nz-form-item>-->
      </nz-comment-content>
    <!--</nz-comment>-->
  </ng-template>

  <ng-template #modalFooter>
    <!--<span>Modal Footer: </span>-->
    <button nz-button nzType="default" (click)="handleCancel()"><i nz-icon nzType="rollback" nzTheme="outline"></i>取消</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading" [disabled]="!inputValue" ><i nz-icon nzType="send" nzTheme="outline"></i>添加</button>
  </ng-template>
</nz-modal>
