<nz-card>
  <nz-card-tab>
    <nz-tabset nzSize="large" [nzTabBarExtraContent]="extraTemplate">
      <nz-tab [nzTitle]="selectedProject ? selectedProject.p_name : '请先选择你的项目'"></nz-tab>
    </nz-tabset>
  </nz-card-tab>
  <ng-template #extraTemplate>
    <nz-select [(ngModel)]="selectedCourse_id" (ngModelChange)="courseChange($event)" nzPlaceHolder="请选择你的课程">
      <nz-option *ngFor="let course of courseData" [nzValue]="course.c_id" [nzLabel]="course.c_name"></nz-option>
    </nz-select>
    <nz-select [(ngModel)]="selectedProject_id" (ngModelChange)="projectChange($event)" nzPlaceHolder="请选择你的项目">
      <nz-option *ngFor="let project of projectData[selectedCourse_id]" [nzValue]="project.p_id"
        [nzLabel]="project.p_name"></nz-option>
    </nz-select>
  </ng-template>
  <ng-container *ngIf="selectedCourse_id!=null&&selectedProject!=null">
    <app-score-table [selectProject]="selectedProject "></app-score-table>
  </ng-container>
  <nz-empty *ngIf="selectedCourse_id==null||selectedProject==null"></nz-empty>
</nz-card>