<div class="container">
  <nz-layout class="wrap">
    <div class="top">
      <div class="head">
        <!-- <img class="logo" src="https://ng.ant.design/assets/img/logo.svg" /> -->
        <img class="logo" src="../../../assets/supernova-logo.png" />
        <span class="title">Supernova PBL System</span>
      </div>
    </div>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">
      <nz-typography><strong>Group #3 @ Advanced Web Technology, FDU</strong></nz-typography>
      <br />
      <nz-typography><strong>Spring 2020</strong></nz-typography>
    </nz-footer>
  </nz-layout>
</div>