
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="your username is invalid!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <!-- <app-radio></app-radio> -->
        <!-- <nz-radio-group [(ngModel)]="radioValue" formControlName="type">
          <nz-form-control nzErrorTip="Please choose your id-type">
            <label nz-radio nzValue="管理员">管理员</label>
            <label nz-radio nzValue="学生">学生</label>
            <label nz-radio nzValue="教师">教师</label>
          </nz-form-control>
        </nz-radio-group> -->
        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div>
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">Forgot password</a>
          </div>
        </div>
        <div style="text-align: center;">
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
            Or <a routerLink="/signup"> register now! </a>
        </div>
        
      </form>
      
    