<p>projects works!</p>
<!-- <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)">
    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
</nz-select> -->
<nz-select [(ngModel)]="selectedValue" [compareWith]="compareFn" (ngModelChange)="log($event)" nzAllowClear nzPlaceHolder="Choose">
    <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
</nz-select>