<nz-card>
    <nz-card-tab>
        <nz-tabset nzSize="large" [nzTabBarExtraContent]="extraTemplate">
            <nz-tab [nzTitle]="selectedValue ? selectedValue.label : '请先选择课程'"></nz-tab>
        </nz-tabset>
    </nz-card-tab>
    <nz-row [nzGutter]="[24, 24]">
        <nz-col [nzSpan]="24 / numOfCardsARow" *ngFor="let project of projects">
            <app-project-card [project]=project [taken]="projectTaking === project.p_id" [canTake]="projectTaking === -1"></app-project-card>
        </nz-col>
    </nz-row>
    <nz-empty *ngIf="projects.length === 0"></nz-empty>
</nz-card>

<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="showModal()">Primary</button>
    请选择课程：
    <nz-select 
        [(ngModel)]="selectedValue" 
        [compareWith]="compareFn" 
        [nzLoading]="selectLoading"
        (ngModelChange)="onChange($event)" 
        nzShowSearch
        nzAllowClear 
        >
        <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
    </nz-select>
</ng-template>




