<nz-table #basicTable [nzData]="files">
    <thead>
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>上传者</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.f_name }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.u_name }}</td>
            <td>
                <a nz-button nzType="link" (click)="downLoadFile(data.f_id)">下载</a>
                <ng-container *ngIf="data.u_id === 4"> <!--TODO：判断为自己上传的文件才能删除-->
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-button nzType="link" (click)="deleteFile(data.f_id)">删除</a>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>