
    <nz-table #headerTable [nzData]="listOfDisplayData" [nzPageSize]="20" [nzScroll]="{ y: '240px' }">
      <thead>
        <tr>
          <th *ngFor="let column of listofColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          >
          {{column.name}}
          <div *ngIf="column.name=='姓名'">
            <nz-filter-trigger  [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </div>

          
          </th>
          <!-- <th>学号</th>
          <th>姓名</th>
          <th >任务完成数</th>
          <th >任务完成得分</th>
          <th >讨论版发言数</th>
          <th >讨论版得分</th>
          <th>自评分</th>
          <th>互评分</th>
          <th>教师加分</th>
          <th>总分</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.taskNum }}</td>
          <td>{{ data.taskScore }}</td>
          <td>{{ data.remarkNum }}</td>
          <td>{{ data.remarkScore }}</td>
          <td>{{ data.selfScore }}</td>
          <td>{{ data.mutualScore }}</td>
          <td >
            <div  [hidden]="canEdit&&editId === data.id" (click)= "startEdit(data.id)">
              {{ data.teacherScore }}
            </div>
            <input [hidden]="!canEdit||editId !== data.id" type="text" nz-input [(ngModel)]="data.teacherScore" (blur)="stopEdit()" />
          </td>
          <td>{{ data.taskScore + data.remarkScore + data.selfScore + data.mutualScore + data.teacherScore*1 }}</td>
        </tr>
      </tbody>
    </nz-table>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

    <button nz-button nzType="primary" (click)="confirm()">提交</button>
  