
      .search-box {
        padding: 8px;
      }

      .search-box input {
        width: 188px;
        margin-bottom: 8px;
        display: block;
      }

      .search-box button {
        width: 90px;
      }

      .search-button {
        margin-right: 8px;
      }
      .confirmButton{
        float:right;
        margin-top: 16px;
      }
    

      .editable-row:hover .editable-cell {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 4px 11px;
      }
    
      .editable-cell {
        position: relative;
        padding: 5px 12px;
        cursor: pointer;
      }