<nz-spin [nzSpinning]="loading">
  <nz-table #headerTable [nzData]="listOfDisplayData" [nzPageSize]="20" [nzScroll]="{ y: '480px' }">
    <thead>
      <tr>
        <th *ngFor="let column of listofColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections">
          {{column.name}}
          <div *ngIf="column.name=='姓名'">
            <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of headerTable.data" class="editable-row">
        <td>{{ data.s_id }}</td>
        <td>{{ data.s_name }}</td>
        <td>{{ data.assignmentDoneNum}}
          <ng-container *ngIf="userType!='student'">
            /{{maxAssignmentDone}}
          </ng-container>

        </td>
        <td>{{ data.discussNum }}
          <ng-container *ngIf="userType!='student'">
            /{{maxDiscussNum}}
          </ng-container>
        </td>
        <td *ngIf="selectProject.self_grade_ratio !== 0">{{ data.selfScore }}/{{selectProject.self_grade_ratio}}</td>
        <td *ngIf="selectProject.mutual_grade_ratio !== 0">{{ data.mutualScore }}/{{selectProject.mutual_grade_ratio}}</td>
        <ng-container *ngIf="canEdit&&editId === data.s_id&&!data.haveScored">
          <ng-container *ngFor="let dynamicData of data.dynamicScore;let i = index">
            <td>
              <nz-input-number [nzMax]="gradeItems[i].max_grade" nzMin="0" [(ngModel)]="dynamicData.grade"
                (ngModelChange)="updateTeacherScore(data.s_id)">
              </nz-input-number>
              /{{gradeItems[i].max_grade}}
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!canEdit||editId !== data.s_id||data.haveScored">
          <ng-container *ngFor="let dynamicData of data.dynamicScore;let i = index">
            <td (click)="startEdit(data.s_id)">
              <div class="editable-cell">
                {{dynamicData.grade}}/{{gradeItems[i].max_grade}}
              </div>
            </td>
          </ng-container>
        </ng-container>
        <td>
          <!-- 教师总分 -->
          {{data.teacherAllScore}}/{{selectProject.teacher_grade_ratio}}
        </td>
        <td>
          {{data.teacherAllScore+data.selfScore+data.mutualScore}}
        </td>
        <td *ngIf="userType !== 'student'">
          <button nz-button [nzType]="'primary'" (click)="stopEdit(data)"
            [disabled]="!(canEdit && editId === data.s_id && !data.haveScored)">
            提交
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="搜索姓名" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        搜索
      </button>
      <button nz-button nzSize="small" (click)="reset()">重置</button>
    </div>
  </div>
</nz-dropdown-menu>

<ng-container *ngIf="userType !== 'student'">
  <button class="confirmButton" nz-button nzType="primary" [disabled]="!canEdit" (click)="confirm()">提交项目评分</button>
</ng-container>
