<nz-card [nzCover]="coverTemplate" [nzActions]=actions nzHoverable>
  <!-- <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta> -->
  <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]=course.description [nzAvatar]="avatarTemplate"></nz-card-meta>
</nz-card>

<ng-template #titleTemplate>
  <span>{{course.c_name}}</span>&nbsp;
  <nz-tag>{{(course.point | number: '1.1-1')!}}</nz-tag>
  <nz-badge [nzStatus]="BADGE_STATUS[course.status]"></nz-badge>
</ng-template>

<ng-template #avatarTemplate>
  <!-- <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar> -->
  <nz-avatar [nzSrc]=course.teacher.image [nzAlt]=course.teacher.u_name [routerLink]="['/home', course.teacher.u_id]">
  </nz-avatar><br />
</ng-template>

<ng-template #coverTemplate>
  <!-- <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" /> -->
  <img [alt]=course.c_name [src]=course.image_URL />
</ng-template>

<ng-template #actionJoin>
  <a nz-icon nzType="plus" (click)="showJoinConfirm()"></a>
</ng-template>

<!-- 进入项目详情页 -->
<ng-template #actionInfo>
  <a nz-icon nzType="info" [routerLink]="['/projects', course.c_id]"></a>
</ng-template>

<ng-template #actionEdit>
  <a nz-icon nzType="edit"></a>
</ng-template>

<ng-template #actionPublish>
  <a nz-icon nzType="check" (click)="showPublishConfirm('发布')"></a>
</ng-template>

<ng-template #actionDelete>
  <a nz-icon nzType="delete" (click)="showDeleteConfirm()"></a>
</ng-template>

<ng-template #actionResume>
  <a nz-icon nzType="redo" (click)="showPublishConfirm('恢复')"></a>
</ng-template>