<nz-card 
  [nzCover]="coverTemplate" 
  [nzActions]="[actionJoin, actionEdit, actionDelete]" 
  nzHoverable
  >
  <!-- <nz-card-meta nzTitle="Card title" nzDescription="This is the description" [nzAvatar]="avatarTemplate"></nz-card-meta> -->
  <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]=course.description [nzAvatar]="avatarTemplate"></nz-card-meta>
</nz-card>

<ng-template #titleTemplate>
  <span>{{course.c_name}}</span>&nbsp;
  <nz-badge [nzStatus]="badgeStatus[course.status]"></nz-badge>
</ng-template>

<ng-template #avatarTemplate>
  <!-- <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar> -->
  <nz-avatar [nzSrc]=course.t_image_URL></nz-avatar>
</ng-template>

<ng-template #coverTemplate>
  <!-- <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" /> -->
  <img [alt]=course.c_name [src]=course.c_image_URL />
</ng-template>

<ng-template #actionJoin>
  <a nz-icon nzType="plus"></a>
</ng-template>

<!-- 进入项目详情页 -->
<ng-template #actionInfo>
  <a nz-icon nzType="info"></a>
</ng-template>

<ng-template #actionEdit>
  <a nz-icon nzType="edit"></a>
</ng-template>

<ng-template #actionDelete>
  <a nz-icon nzType="delete"></a>
</ng-template>

<ng-template #actionResume>
  <a nz-icon nzType="redo"></a>
</ng-template>